@tailwind base;
@tailwind components;
@tailwind utilities;

.p-hidden-space,
.p-column-filter-menu-button,
.p-column-filter-clear-button {
  display: none;
}

.p-inputtext::placeholder {
  font-size: 0.7rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@layer components {
  .scrollbar {
    @apply overflow-auto scrollbar-hide;
  }
}
